.terms {
    margin-bottom: 120px;

    &__title {
        @extend %rubik-500;

        font-size: 24px;
        color: $darkBlue;
        margin-bottom: 35px;
    }

    &__title-info {
        @extend %rubik-500;

        font-size: 24px;
        color: $darkBlue;
        margin-bottom: 30px;
    }

    &__text {
        display: flex;
        justify-content: left;

        @extend %rubik-400;

        color: $darkBlue;
        margin-bottom: 35px;
        line-height: 1.5;

        span {
            margin-right: 14px;
        }
    }

    &__info {
        @extend %rubik-400;

        color: $darkBlue;
        margin-bottom: 73px;
        line-height: 1.5;
    }
}