.comments-reply {
    margin-left: 130px;
    border-bottom: 1px solid #e4e4e4;
    border-top: 1px solid #e4e4e4;
    padding: 20px 0 20px;
}

.comments-form {
    margin-top: 60px;

    &__title {
        @extend %rubik-500;
        color: $title;
        font-size: 24px;
        margin-bottom: 40px;
    }

    &__box-input {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }

    &__text-input {
        @extend %rubik-400;
        color: #999;
        font-size: 16px;
        width: 400px;
        display: inline-block;
        height: 50px;
        padding: 0 40px 0 20px;
        border: 1px solid #e5e5e5;

        &:focus {
            outline: 1px solid $accent;
            color: #333;
        }
    }



    &__input {
        position: relative;

        svg {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    &__textarea {
        @extend %rubik-400;
        color: #999;
        font-size: 16px;
        width: 830px;
        height: 120px;
        display: inline-block;
        padding: 20px 40px 20px 20px;
        border: 1px solid #e5e5e5;
        margin-bottom: 40px;
        resize: none;

        &:focus {
            color: #333;
            outline: 1px solid $accent;
        }
    }

    &__textarea-icon {
        position: relative;

        svg {
            position: absolute;
            right: 20px;
            top: 20px;
        }
    }

    &__btn {
        border: none;
        @extend %btn;
        padding: 18px 35px;

        &:focus {
            @include white-focus;
        }

        transition: background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;

        &:hover {
            color: $accent;
            background-color: white;
        }

    }
}



@media(max-width: 1230px) {
    .comments-form {
        max-width: 820px;

        &__textarea {
            max-width: 100%;
        }
    }

}

@media(max-width: 860px) {
    .comments-form {
        max-width: 100%;
    }
}

@media(max-width: 860px) {
    .comments-form {

        // &__box-input {
        //     display: block;
        //     margin-bottom: 0;
        // }

        // &__text-input {
        //     width: 100%;
        //     margin-bottom: 30px;
        // }

    }
}