.comments {

    margin-bottom: 40px;
    display: flex;

    &__title {
        margin-bottom: 50px;
        color: $title;
        font-size: 24px;
        @extend %rubik-500;
    }

    &__img {
        margin-right: 30px;
        min-width: 100px;
        height: 100px;
        overflow: hidden;
        object-fit: cover;
    }

    &__content-top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 25px;
    }

    &__content-name {
        @extend %rubik-500;
        color: #436372;
        font-size: 16px;
    }

    &__content-data {
        @extend %rubik-400;
        font-size: 14px;
        color: #9e9e9e;
    }

    &__content-text {
        margin-bottom: 17px;
        @extend %rubik-400;
        font-size: 16px;
        color: #565872;
        line-height: 30px;
    }

    &__content-reply {
        position: relative;
        display: inline-block;
        color: #516278;

        &::after {
            content: "";
            position: absolute;
            left: 45px;
            top: 7px;
            width: 15px;
            height: 13px;
            background-repeat: no-repeat;
            background-image: url("../images/icons/reply.svg");
        }

        &:focus {
            @include white-focus;
        }
    }

    &-reply {
        margin-left: 130px;
        border-bottom: 1px solid #e4e4e4;
        border-top: 1px solid #e4e4e4;
        padding: 20px 0 20px;
    }
}


@media(max-width: 620px) {


    .comments {
        flex-direction: column;

        &-reply {
            margin-left: 0;
        }

        &__img {
            margin-bottom: 15px;
        }
    }

}

// @media(max-width: 375px) {
//     .comments {
//         &__img {
//             display: none;
//         }
//     }
// }