.design {
    margin-bottom: 120px;

    .title {
        margin-bottom: 25px;
    }

    &__top {
        margin-bottom: 80px;
    }

    &__filter-btn {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 19px;
    }

    &-btn {
        border: none;
        color: #8b8b8b;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.3s;

        &:focus {
            border-radius: 10px;
            @include white-focus;
        }

        &:hover {
            color: $accent;
            border-bottom-color: $accent;
        }

    }

    &__content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 370px));
        justify-content: center;
        grid-gap: 30px;
        margin-bottom: 120px;
    }

    &__item {
        @extend %dmsans-700;
        font-size: 20px;
        color: #191919;
        aspect-ratio: 1/0.66;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .mixitup-control-active {
        color: #000;
    }

    &__item-title {
        @extend %dmsans-700;
        font-size: 20px;
        color: #191919;
    }

    &__text {
        padding-left: 46px;
        padding-top: 33px;
    }

    &__item-text {
        font-size: 20px;
        margin-bottom: 8px;
    }

    &__item-type {
        @extend %dmsans-700;
        font-size: 16px;
        color: $accent;
    }

    &__video {
        position: relative;
    }

    &__video__popup {
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        aspect-ratio: 3.9/1;
    }

    &__video__play {
        background-color: transparent;
        border: none;
        position: absolute;
        top: 50%;
        left: 50%;
        width: clamp(50px, 10vw, 127px);
        height: clamp(50px, 10vw, 127px);
        transform: translate(-50%, -50%);

        img {
            width: 100%;
            height: 100%;
        }

        &:focus {
            border-radius: 10px;
            @include white-focus;
        }

        &:hover+.design__video__popup {
            background-color: #191919;
        }
    }
}

@media(max-width:1100px) {

    .design__video__popup {
        aspect-ratio: 2/1;
    }

}


@media(max-width: 620px) {
    .design {
        margin-bottom: 60px;

        &__top {
            margin-bottom: 40px;
        }

        &__content {
            margin-bottom: 60px;
        }

        &__text {
            padding: 0;
        }

        &__item {
            font-size: 16px;
        }
    }
}