 body{
    font-size: 15px;
    color: #243f4d;
    @extend %rubik-500;
 }

 .parent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
 }

 .container{
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 15px;
 }
 .container1170{
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 15px;
 }

 .logo{
    flex-basis: 148px;
    flex-shrink: 0;
    img{
        width: 148px;
        height: 50px;
    }
 }

 .title{
   text-align: center;
   @extend %dmsans-700;
   font-size: 36px;
   line-height: 1.2;
   color: rgb(25, 25, 25);
   margin-bottom: 40px;
 }


 .bleadcrumbs{
   display: inline-flex;
   justify-content: center;
   padding-left: 9px;
   
   &__list{
      display: flex;
   }
   &__item{
      color: #8b8f94;
      position: relative;
      padding-right: 20px;
      font-size: 14px;
      &::after{
         content: '/';
         position: absolute;
         right: 5px;
      }
      a{
         color: #8b8f94;

      }
      &:last-child{
         &::after{
            display: none;
         }
      }
   }
 }

 .pagination{
   grid-area: pagination;
   display: flex;
   justify-content: center;
   padding: 30px 0;
   &__list{
      display: flex;
      gap: 15px;
   }
   &__item{
      border: 1px solid $accent;
      padding: 18px 20px;

   }
   &__item--active{
      background-color: $accent;
   }
   &__link{
      @extend %rubik-400;
      font-size: 16px;
      color: #243f4d;
   }
   &__link--active{
      color: #fff;
   }
   &__next{
      @extend %rubik-400;
      font-size: 16px;
      color: #243f4d;
   }
 }
 

 