 body{
    font-size: 15px;
    color: #243f4d;
    @extend %rubik-500;
 }

 .parent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    min-height: 100vh;
 }

 .container{
    max-width: 1760px;
    margin: 0 auto;
    padding: 0 15px;
 }
 .container1170{
   max-width: 1180px;
   margin: 0 auto;
   padding: 0 15px;
 }

 .logo{
    flex-basis: 148px;
    flex-shrink: 0;
    padding: 5px;
    &:focus{
      background-color: #f9fafb;
      border-color: #f9fafb;
      box-shadow: 0 0 0 0.25rem rgba(211,212,213,.5);
      outline: 0;
      border-radius: 10px;
  }
    img{
        width: 148px;
        height: 50px;
    }
 }

 .title{
   text-align: center;
   @extend %dmsans-700;
   font-size: 36px;
   line-height: 1.2;
   color: rgb(25, 25, 25);
   margin-bottom: 40px;
 }


 .bleadcrumbs{
   display: inline-flex;
   justify-content: center;
   padding-left: 9px;
   
   &__list{
      display: flex;
   }
   &__item{
      color: #8b8f94;
      position: relative;
      padding-right: 20px;
      font-size: 14px;
      &::after{
         content: '/';
         position: absolute;
         right: 5px;
      }
      a{
         color: #8b8f94;

      }
      &:last-child{
         &::after{
            display: none;
         }
      }
   }
   &__link{
      padding: 3px;
      &:focus{
         background-color: #f9fafb;
         border-color: #f9fafb;
         box-shadow: 0 0 0 0.25rem rgba(211,212,213,.5);
         outline: 0;
         border-radius: 10px;
     }
   }
 }

 .pagination{
   grid-area: pagination;
   display: flex;
   justify-content: center;
   padding: 30px 0;
   &-list{
      display: flex;
      gap: 15px;
   }
   &-item{
      border: 1px solid $accent;
      padding: 18px 20px;

   }
   &-item-active{
      background-color: $accent;
   }
   &-link{
      @extend %rubik-400;
      font-size: 16px;
      color: #243f4d;
      &:focus{
         border-color: #1a1e21;
         outline: 0;
         box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
     }
   }
   &-link-active{
      color: #fff;
   }
   &-next{
      @extend %rubik-400;
      font-size: 16px;
      color: #243f4d;
      &:focus{
         border-color: #1a1e21;
         outline: 0;
         box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
     }
   }
 }
 

 @media(max-width: 620px){
   .title{
      font-size: 33px;
      line-height: 36px;
   }
 }
 @media(max-width: 375px){
   .title{
      font-size: 27px;
      line-height: 25px;
      margin-bottom: 30px;
   }
 }
 