.header {
    margin-bottom: 20px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
}

.menu {
    display: flex;
    align-items: center;

    &__list {
        display: flex;
        transform: translateX(78px);
    }

    &__btn {
        display: none;
    }

    &__list-item+.menu__list-item {
        padding-left: 24px;
    }

    &__list-link {
        color: $title;
        padding-bottom: 1px;
        transition: all 0.3s;
        @extend %rubik-500;
        white-space: nowrap;
        padding: 3px 5px;
        border-bottom: 1px solid transparent;
        transition: all 0.5s;

        &:hover {
            color: $accent;
            border-bottom-color: $accent;
            @extend %rubik-400;
        }

        &:focus {
            background-color: #f9fafb;
            border-color: #f9fafb;
            box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
            outline: 0;
            border-radius: 10px;
        }
    }
}

.user-nav {
    display: flex;
    flex-basis: 320px;
    justify-content: space-between;

    &__inner {
        position: relative;
        background-color: $default;
        height: 50px;
        width: 177px;
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;

        &-link {
            position: relative;
            transition: all .3s;

            &:hover {
                transform: scale(1.2);
            }
        }

        .user-nav__link-img {
            position: static;
        }
    }

    &__inner::before {
        content: "";
        position: absolute;
        width: 1px;
        height: 32px;
        background-color: $line;
        top: 23%;
        left: 50%;
    }

    &__link {
        position: relative;
        transition: all 0.3s;

        &:hover {
            border-color: #f9fafb;
            box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
            outline: 0;
            border-radius: 50%;
        }

        &:focus {
            @include white-focus;
            border-radius: 50%;
        }
    }

    &__link--search {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: $search;
        border-radius: 50%;
    }

    &__link-user {
        position: relative;
        width: 50px;
        height: 50px;
        background-color: $user;
        border-radius: 50%;
    }

    &__link-img {
        position: absolute;
        top: 19px;
        left: 18px;
    }

    &__link-img-user {
        position: absolute;
        top: 16px;
        left: 15px;
    }

    &__num {
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        top: -8px;
        right: -10px;
        font-size: 11px;
        text-align: center;
        line-height: 17px;
    }
}


@media(max-width: 1160px) {
    .menu {
        margin-left: 40px;
        order: 1;

        &__list {
            transform: translateY(-200%);
            position: fixed;
            top: 0px;
            width: 100%;
            left: 0;
            flex-direction: column;
            align-items: center;
            z-index: 5;
            transition: all .3s;
            background-color: #fff;
            padding: 20px;

            &.menu--active {
                transform: translateY(0%);
                transition: all .3s;
            }
        }

        &__list-item+.menu__list-item {
            padding-left: 15px;
        }

        &__list-item {
            width: 100%;
            padding: 0 15px;
            text-align: center;
        }

        &__list-link {
            display: block;
            padding: 12px 0;
        }

        &__btn {
            display: block;
            // top: 50px;
            right: 15px;
            position: fixed;
            z-index: 10;
        }
    }

    .user-nav {
        margin-left: 0 auto;
    }
}

@media(max-width: 610px) {
    .header {
        padding: 10px 0;
        margin-bottom: 0;

        &__inner {
            display: grid;
            grid-template-columns: repeat(2, 2fr);



        }
    }

    .menu {
        order: 0;
        justify-content: end;

        &__list {
            top: 180px;
        }
    }

    .user-nav {
        width: 100%;
        margin-top: 20px;
        grid-column: 1/3;
        // justify-content: space-around;

    }
}