.info {
    display: flex;
    margin-bottom: 67px;

    background-color: $VeryLightPink;
    height: 170px;

    &__item-wrap {
        width: 33.3%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item-wrap:not(:last-child) {
        border-right: 1px solid #e8e4df;
    }

    &__item {
        width: 300px;
        position: relative;
        padding-left: 85px;
        line-height: 1.8;
    }

    .info__item-sup::before {
        background-image: url("../images/content/categories/support.svg");
    }

    .info__item-del::before {
        background-image: url("../images/content/categories/delivery.svg");
    }

    .info__item-pay::before {
        background-image: url("../images/content/categories/payment.svg");
    }

    &__item::before {
        content: "";
        position: absolute;
        left: 0px;
        width: 50px;
        height: 55px;
        background-repeat: no-repeat;
    }
}


@media(max-width: 1050px) {
    .info {
        &__item {
            width: 230px;
        }
    }
}

@media(max-width: 768px) {
    .info {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        height: 100%;

        &__item {
            padding-bottom: 15px;
            padding-top: 15px;
        }

        &__item-wrap {
            width: 100%;
        }

        &__item-wrap:not(:last-child) {
            border-bottom: 1px solid #e8e4df;
        }

        &__item-wrap:nth-child(3) {
            grid-column: 1/3;
        }

    }

}

@media(max-width: 500px) {
    .info {
        display: block;
    }
}

@media(max-width: 375px) {
    .info {
        margin-bottom: 50px;
    }

}