@media(max-width: 1230px){
    .comments-form{
        max-width: 820px;
        &__textarea{
            max-width: 100%;
        }
    }

}

@media(max-width: 860px){
    .comments-form{
        &__box-input{
            display: block;
            margin-bottom: 0;
        }
        &__text-input{
            width: 100%;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 620px){
    .blog-one{
        &__author{
            display: block;
        }
        &__creator{
            justify-content: flex-start;
            margin-bottom: 15px;
        }
        &__text{
            blockquote{
                padding: 10px;
            }
        }
    }
    .comments{
        &-reply{
            margin-left: 0;
        }
    }
    
}

@media(max-width: 375px){
    .comments{
        &__img{
            display: none;
        }
    }
}