@media(max-width: 1050px){
       .product-slide{
          &__thumb{
            display: none;
          }
       } 
       .product-one{
        &__slide{
            width: auto;
            margin-right: 15px;
        }  
    }
}

@media(max-width: 860px){
    .product-one{
       &__inner{
         display: block;
       }
       &__content{
        width: 100%;
        margin-top: 35px;
      }
    } 
    .product-slide{
        &__big{
            width: 100%;
            img{
                width: auto;
                margin: 0 auto;
            }
        }
    }  
    .product-tabs{
        &__top-item{
            padding: 13px 20px;
        }
    }
    .comments-form{
       max-width: 100%;
    }

}

@media(max-width: 620px){
    .product-one{
        padding-bottom: 40px;
    }
    .product-tabs{
        &__top-item{
            display: block;
            margin-bottom: 10px;
        }
    }
    .product-one{
        &__form{
            display: block;
        }
        &__num{
            margin-bottom: 20px;
        }
        &__btn{
            margin-left: 0;
        }
    }
}