@media(max-width: 1230px){
   .blog-page{
        .filter-category,
        .recent-posts{
            display: none;
        }
        &__inner{
            flex-direction: column;
        }
        &__content{
            width: 100%;
            margin-right: 0;  
            max-width: 100%;
        }
        &__aside{
            order: -1;
            width: 100%;
        }
        &__item-img{
            max-width: 100%;
            width: 100%;
        }
        .blog-page__pagination{
            justify-content: center;
        }
   } 
   .filter-search{
    &__input{
     width: 100%;
    } 
 }
}




@media(max-width: 450px){
    .blog-page{
        &__item-top{
            margin-bottom: 25px;
        }
        &__item-img{
           height: 340px;
        }
        &__item-title{
            font-size: 32px;
        }
    }
}