@media(max-width: 1200px){
    .blog{
        &__items{
            display: grid;
            grid-gap: 20px;
            grid-template-columns:  repeat(3, 1fr);
        }
        &__item-box{
            padding: 20px 15px;
           }
    }

}

@media(max-width: 1050px){
    .blog{
        &__items{
             grid-template-columns:  repeat(2, 1fr);
        } 
        &__item{
            max-width: 100%;
            img{
                width: 100%;
            }
        }
        &__box{
            justify-content: space-between;
        }
        &__item-title{
            max-width: 100%;
            min-height: 75px;
        }
        &__item-box{
            min-height: 170px;
        }
     }
}

@media(max-width: 768px){
    .blog{
        &__items{
             grid-template-columns:  repeat(1, 1fr);
        }
    }
    .blog__partners{
        flex-wrap: wrap;
        justify-content: center;
        height: auto;
        row-gap: 15px;
        .blog__partner-img{
            width: 165px;
            margin: 0 auto;
        }
    }
}

@media(max-width: 500px){
    .blog__top{
        h3{
            font-size: 24px;
        }
        &-link{
            padding-right: 0;
        }
        &-link::after{
            position: static;
        }
    }
}