.mold {
    max-width: 470px;
    margin: 0 auto 120px;

    &__label {
        display: block;
        margin-bottom: 30px;
    }

    &__input {
        display: block;
        width: 100%;
        border: 1px solid #f6f6f6;
        background-color: #fff;
        height: 60px;
        padding: 15px;
        margin-top: 15px;

        &:focus {
            color: #333;
            outline: 1px solid $accent;
        }
    }

    &__btn {
        display: block;
        background-color: $accent;
        color: #fff;
        font-size: 18px;
        @extend %rubik-500;
        padding: 14px 0;
        border: none;
        width: 100%;
        cursor: pointer;
        margin-bottom: 30px;
    }

    &__help {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f6f6f6;
        margin-bottom: 30px;
    }

    &__error {
        height: min-content;
    }

    a {
        color: $title;
    }

    &__not-registered {
        display: block;
        text-align: center;
        margin-bottom: 25px;
    }

    &__btn-create {
        display: block;
        background-color: #fff;
        color: $darkBlue;
        font-size: 18px;
        @extend %rubik-500;
        padding: 14px 0;
        border: 2px solid $accent;
        width: 100%;
        // cursor: pointer;
    }

    &__btn,
    &__error,
    &__not-registered,
    &__btn-create {
        &:focus {
            @include black-focus;

        }
    }
}

@media(max-width: 620px) {
    .mold {
        margin-bottom: 60px;
    }
}

@media(max-width: 375px) {
    .mold {
        &__help {
            flex-wrap: wrap;
        }
    }
}