.mold {
    max-width: 470px;
    margin: 0 auto 120px;

    &__label {
        display: block;
        margin-bottom: 30px;
    }

    &__input {
        display: block;
        width: 100%;
        border: 1px solid #f6f6f6;
        background-color: #fff;
        height: 60px;
        padding: 15px;
        margin-top: 15px;

        &:focus {
            color: #333;
            outline: 1px solid #a3bbc8;
        }
    }

    &__btn {
        display: block;
        background-color: #a3bbc8;
        color: #fff;
        font-size: 18px;
        @extend %rubik-500;
        padding: 14px 0;
        border: none;
        width: 100%;
        cursor: pointer;
        margin-bottom: 30px;

        &:focus {
            border-color: #1a1e21;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
        }
    }

    &__help {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #f6f6f6;
        margin-bottom: 30px;
    }

    &__error {
        height: min-content;

        &:focus {
            border-color: #1a1e21;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
        }
    }

    a {
        color: #436372;
    }

    &__not-registered {
        display: block;
        text-align: center;
        margin-bottom: 25px;

        &:focus {
            border-color: #1a1e21;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
        }
    }

    &__btn-create {
        display: block;
        background-color: #fff;
        color: #243f4d;
        font-size: 18px;
        @extend %rubik-500;
        padding: 14px 0;
        border: 2px solid $accent;
        width: 100%;
        cursor: pointer;

        &:focus {
            border-color: #1a1e21;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
        }
    }
}

@media(max-width: 620px){
    .mold{
        margin-bottom: 60px;
    }
}

@media(max-width: 375px){
    .mold{
       &__help{
        flex-wrap: wrap;
       } 
    } 
}