.product-page {
    padding-bottom: 60px;
}

.product-comments-form {
    width: 830px;
}

.product-one {
    padding-bottom: 80px;

    &__inner {
        display: flex;
    }

    &__slide {
        width: 550px;
        margin-right: 65px;

        .slick-list {
            height: auto !important;
        }
    }

    &__content {
        width: 537px;
        margin-top: 30px;
    }

    &__title {
        @extend %rubik-400;
        font-size: 40px;
        color: #333333;
        margin-bottom: 26px;
    }

    &__price {
        @extend %rubik-400;
        font-size: 30px;
        color: #333333;
        margin: 35px 0 35px;
    }

    &__text {
        color: #243f4d;
        font-size: 16px;
        @extend %rubik-400;
        line-height: 1.5;
        margin-bottom: 35px;
    }

    &__form {
        display: flex;
        margin-bottom: 45px;
    }

    &__btn {
        @extend %btn;
        padding: 20px 50px;
        border-radius: 5px;
        margin-left: 15px;
        text-transform: uppercase;
        @extend %rubik-400;

        &:focus {
            @include black-focus;
        }

        transition: background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;

        &:hover {
            color: #a3bbc8;
            background-color: white;
        }
    }

    &__num {
        position: relative;
        width: 150px;
        height: 57px;
    }

    &__num::after {
        position: absolute;
        content: "";
        width: 2px;
        height: 54px;
        left: 50px;
        top: 1px;
        background-color: $accent;
    }

    &__num::before {
        position: absolute;
        content: "";
        width: 2px;
        height: 54px;
        right: 50px;
        top: 1px;
        background-color: $accent;
    }
}

.jq-number__field {
    width: 147px;
    height: 57px;
    border: 2px solid $accent;
    transform: translate(1px);
}

.jq-number__field input {
    width: 100%;
    height: 52px;
    background: none;
    outline: none;
    border: none;
    text-align: center;
    @extend %rubik-400;
    color: #333;
}

.jq-number {
    padding: 0;
    width: 150px;
    height: 57px;
    position: relative;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 20px;
    height: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.jq-number__spin.minus {
    left: 20px;
}

.jq-number__spin.plus {
    right: 13px;
}

.jq-number__spin::after {
    content: "";
    position: absolute;
    top: 7px;
    left: 3px;
    background-color: $title;
    width: 9px;
    height: 1px;
}

.jq-number__spin.plus::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    background-color: $title;
    width: 1px;
    height: 9px;
}

.product-info {
    &__item {
        display: flex;
        margin-bottom: 15px;
    }

    &__title {
        font-size: 16px;
        @extend %rubik-400;
        color: #243f4d;
        margin-right: 5px;
    }

    &__text {
        font-size: 16px;
        @extend %rubik-400;
        color: #243f4d;
    }
}

.product-slide {
    display: flex;

    .slick-vertical .slick-slide {
        height: 160px;
        margin-bottom: 30px;
    }

    &__thumb {
        width: 138px;
        margin-right: 25px;
    }

    &__thumb-item {
        border: 2px solid #f2f2f2;
        margin-bottom: 25px;
        width: 138px;
        height: 160px;
        cursor: pointer;

        img {
            width: 130px;
            height: 145px;
            object-fit: contain;
            padding: 10px;
        }
    }

    &__big {
        width: 386px;

        img {
            width: 386px;
            height: 530px;
            object-fit: contain;
            padding: 60px;
        }
    }

    &__big-item {
        border: 2px solid #f2f2f2;
    }
}

.product-tabs {
    padding-bottom: 100px;

    &__top {
        margin-bottom: 40px;
        @extend %rubik-500;
        font-size: 18px;
        text-align: center;
    }

    &__top-item {
        display: inline-block;
        background-color: #edf1f4;
        padding: 18px 23px;
        border-radius: 5px;
        cursor: pointer;
        border: none;
        outline: transparent;

        &+.product-tabs__top-item {
            margin-left: 12px;
        }

        &:focus {
            @include black-focus;
        }

        transition: box-shadow 0.3s ease-in-out;

        &:hover {
            box-shadow: 2px 1px 10px 9px rgba(163, 187, 200, 0.81);
        }
    }

    &__content-item {
        display: none;

        &.product-tabs__content-item--active {
            display: block;
        }
    }

    &__content-item-text {
        @extend %rubik-400;
        font-size: 16px;
        color: #243f4d;
    }
}

.product-tabs__top-item.product-tabs__top-item--active {
    background-color: $accent  !important;
    color: #fff !important;
}



@media(max-width: 1050px) {
    .product-slide {
        &__thumb {
            display: none;
        }
    }

    .product-one {
        &__slide {
            width: auto;
            margin-right: 15px;
        }
    }
}

@media(max-width: 860px) {
    .product-one {
        &__inner {
            display: block;
        }

        &__content {
            width: 100%;
            margin-top: 35px;
        }
    }

    .product-slide {
        &__big {
            width: 100%;

            img {
                width: auto;
                margin: 0 auto;
            }
        }
    }

    .product-tabs {
        &__top-item {
            padding: 13px 20px;
        }
    }
}

@media(max-width: 620px) {
    .product-one {
        padding-bottom: 40px;
    }

    .product-tabs {
        &__top-item {
            display: block;
            margin-bottom: 10px;
        }
    }

    .product-one {
        &__form {
            display: block;
        }

        &__num {
            margin-bottom: 20px;
        }

        &__btn {
            margin-left: 0;
        }
    }
}