.statistics {
    margin-bottom: 120px;
    background-color: $default;

    &__wraper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 320px;
    }

    &__list {
        max-width: 940px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
    }

    &__img {
        margin: 0 auto;
    }

    &__item-text {
        text-align: center;
        @extend %dmsans-700;
        color: $darkBlue;
    }

    &__title {
        font-size: 36px;
        margin-bottom: 20px;
    }

    &__text {
        font-size: 16px;
    }
}

@media(max-width: 375px) {
    .statistics {
        display: none;
    }
}