.top-slider {
    &__inner {
        width: 100%;
        aspect-ratio: 1/0.465;
        background-color: $default;
        // background-image: url("../images/slider/fon1.png");
        // background-repeat: no-repeat;
        // background-size: cover;
        // padding: 65px 0 45px;
    }

    &__item {
        aspect-ratio: 1/.454;
        display: grid !important;
        grid-template-columns: auto 53%;
    }

    &__content {
        // padding-top: 135px;
        // padding-left: 305px;
        // padding-bottom: 150px;
        padding-top: 209px;
        padding-left: 297px;
    }


    &__title {
        min-width: 410px;
        color: $darkBlue;
        font-size: 72px;
        line-height: 1.1;
        @extend %rubik-500;
        margin-bottom: 15px;
    }

    &__text {
        @extend %rubik-400;
        font-size: 18px;
        color: $title;
        line-height: 1.5;
        max-width: 360px;
        margin-bottom: 43px;
    }

    &__link {
        @extend %btn;
        display: flex;
        line-height: 60px;
        width: 200px;
        height: 60px;
        padding-left: 25px;
        position: relative;
        margin-left: 0;
        transition: all 0.3s;

        &:focus {
            border-color: #565e64;
            outline: 0;
            box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
        }

        &:hover {
            background-color: $darkBlue;
        }
    }

    &__arrow {
        position: absolute;
        right: 23px;
        top: 24px;
    }

    &__images {
        height: 100%;
        padding-top: 29%;
        background-image: url("../images/header/Ellipse\ 34.png");
        background-repeat: no-repeat;
        background-position: 43%;
        background-size: 66%;
    }

    &__img {
        width: 69%;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        position: absolute;
        bottom: 45px;
        left: 50%;
        transform: translateX(-50%);

        li {
            margin: 0 7px;
            line-height: 0;

            button {
                border-radius: 50%;
                background-color: #fde3cc;
                font-size: 11px;
                width: 26px;
                height: 26px;
                // border: none;
                color: #667983;
                // cursor: pointer;

                &:focus {
                    border-color: #565e64;
                    outline: 0;
                    box-shadow: 0 0 0 0.25rem rgba(130, 138, 145, 0.5);
                }
            }

            &.slick-active {
                button {
                    color: $darkBlue;
                    background-color: #fff;
                }
            }
        }
    }
}

@media(max-width: 1600px) {
    .top-slider {
        &__content {
            padding-left: 110px;
            padding-top: 100px;
        }

        &__title {
            font-size: 60px;
        }

    }
}



@media(max-width: 1050px) {
    .top-slider {

        &__item {
            .top-slider__images {
                background-image: none;
            }

            .top-slider__img {
                display: none;
            }
        }

        &__inner {
            aspect-ratio: auto;
        }



        .slick-dots {
            margin-top: 0;
        }

        &__content {
            padding-bottom: 100px;
            padding-top: 50px;
            padding-left: 100px;
        }
    }
}

@media(max-width: 620px) {
    .top-slider {
        padding-top: 0px;

        &__content {
            padding-left: 20px;
            padding-top: 30px;
        }


        &__title {
            font-size: 52px;
            margin-bottom: 26px;
        }

        &__text {
            max-width: 280px;
            margin-bottom: 30px;
        }
    }
}

@media(max-width: 375px) {
    .top-slider {
        &__title {
            font-size: 38px;
            margin-bottom: 20px;
        }

        &__text {
            max-width: 250px;
            margin-bottom: 20px;
        }
    }
}