$accent: #a3bbc8;
$default: #fcd7b6;
$title: #436372;
$user: #a3bbc8;
$search: #edf1f4;
$line: #fde7d3;

%dmsans-700{
    font-family: 'DMSans-Bold', sans-serif;
    font-weight: 700;
}

%dmsans-400{
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
}

%rubik-500{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
}

%rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
}