@mixin white-focus {
    border-color: $VeryLightGray;
    box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
    outline: 0;
}

@mixin black-focus {
    border-color: #1a1e21;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);
}

@mixin blue-hover {
    background-color: #fff;
    color: $accent;
}



// @include white-focus;
// border-color: $VeryLightGray;
// box-shadow: 0 0 0 0.25rem rgba(211, 212, 213, 0.5);
// outline: 0;

// @include black-focus;
// border-color: #1a1e21;
// outline: 0;
// box-shadow: 0 0 0 0.25rem rgba(66, 70, 73, 0.5);