.modal-overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    // background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    opacity: 0;
    z-index: 10000;
    padding: 15px;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.modal {
    background-color: #fff;
    width: 300px;
    // height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    position: relative;

    &-close-btn {
        border: none;
        outline: none;
        background-color: transparent;
        font-size: 1.5rem;
        // color: red;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
    }

}

.modal__card,
.modal-message {
    padding: 50px 0px 20px;
    max-width: 600px;
    width: 100%;
    min-height: 120px;
    height: initial;
    background-color: antiquewhite;
    border-radius: 10px;
    font-size: 1rem;
    text-align: center;
    // animation-name: inpopap;
    // animation-duration: 1.3s;
    overflow: hidden;

    &__content {
        min-width: 280px;
        margin: 0 auto;
    }
}

.modal__card-heart,
.modal__card-cart {
    max-height: 90vh;
    overflow-y: auto;
    padding: 50px 15px 20px
}



.modal-overlay--visible {
    opacity: 1;
    visibility: visible;
    // transition: opacity 0.3s ease-in-out;
}

.modal--visible {
    display: block;
}




.modal__card {
    &-list {}

    &-info {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }

    &-item {
        // margin-bottom: 30px;

    }

    &-img-box {
        width: 172px;
        margin: 0 auto;
        flex-shrink: 0;
    }

    &-img {
        width: 100%;
    }

    &-wrap {}


    &-content {
        // margin-top: 0;
        max-width: 250px;

        // width: 100%;

        max-width: 537px;
        margin: 30px auto 0;

        &-title {
            font-size: 20px;
            margin-bottom: 18px;
        }

        &-star {
            display: inline-block;
            margin: 0 auto;
        }

        &-price {
            font-size: 23px;
            margin: 10px 0 10px;
        }

        &-form {}

        &-btn {
            padding: 10px 28px;
            font-size: 14px;
        }

    }

    &-bottom {
        display: flex;
        justify-content: space-between;
    }

    &-shopping {
        padding: 15px 10px;
        height: fit-content;
        background-color: $accent;
        border: none;
        border-radius: 5%;
        color: #fff;
        @extend %rubik-400;
        text-transform: capitalize;

        &:focus {
            @include black-focus;
        }

        transition: background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;

        &:hover {
            color: #a3bbc8;
            background-color: white;
        }
    }

    &-order {
        position: relative;
    }

    &-sum {
        position: absolute;
        top: 16px;
        right: 92px;
        height: min-content;
    }

    &-submit {
        padding: 15px 10px;
        height: fit-content;
        background-color: $accent;
        border: none;
        border-radius: 5%;
        color: #fff;
        @extend %rubik-400;
        text-transform: capitalize;

        &:focus {
            @include black-focus;
        }

        transition: background-color 0.3s ease-in-out,
        color 0.3s ease-in-out;

        &:hover {
            color: #a3bbc8;
            background-color: white;
        }
    }

}






@keyframes inpopap {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}





























// .btn-modal {
//     // border: none;
//     // cursor: pointer;
//     // background-color: #000;
//     // color: #fff;
//     // padding: 10px;
// }

// .modal-overlay {
//     position: fixed;
//     left: 0;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(0, 0, 0, 0.7);
//     // background-color: transparent;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     height: 100vh;
//     width: 100%;
//     opacity: 0;
//     z-index: 10000;
//     padding: 15px;
//     visibility: hidden;
//     transition: all 0.3s ease-in-out;
// }

// .modal {
//     background-color: #fff;
//     width: 300px;
//     // height: 300px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     display: none;
//     position: relative;

//     .modal__card-top {
//         display: flex;
//         justify-content: space-between;
//         margin-bottom: 30px;

//         .modal-close-btn {
//             border: none;
//             outline: none;
//             background-color: transparent;
//             font-size: 1.5rem;
//             cursor: pointer;
//             position: absolute;
//             top: 10px;
//             right: 10px;
//         }
//     }

//     .modal__card {
//         &-list {}

//         &-item {
//             margin-bottom: 30px;

//         }

//         &-wrap {}

//         &-info {
//             display: flex;
//             justify-content: left;
//             gap: 30px;
//             margin-bottom: 20px;
//         }

//         &-content {
//             margin-top: 0;
//             max-width: 250px;

//         }

//         &-title {
//             font-size: 20px;
//             margin-bottom: 18px;
//         }

//         &-star {
//             display: inline-block;
//             margin: 0 auto;

//         }

//         &-price {
//             font-size: 23px;
//             margin: 10px 0 10px;
//         }

//         &-form {}

//         &-btn {
//             padding: 10px 28px;
//             font-size: 14px;
//         }
//     }
// }

// // .modal__card {
// //     padding: 50px 0px 20px;
// //     max-width: 500px;
// //     width: 100%;
// //     min-height: 120px;
// //     height: initial;
// //     background-color: antiquewhite;
// //     border-radius: 10px;
// //     font-size: 1rem;
// //     text-align: center;
// //     animation-name: inpopap;
// //     animation-duration: 1.3s;
// //     overflow: hidden;
// // }
// .modal__card,
// .modal-message {
//     padding: 16px 10px 20px;
//     max-width: 500px;
//     width: 100%;
//     min-height: 120px;
//     height: initial;
//     background-color: antiquewhite;
//     border-radius: 10px;
//     font-size: 1rem;
//     text-align: center;
//     animation-name: inpopap;
//     animation-duration: 1.3s;
//     overflow: hidden;

//     &__content {
//         min-width: 280px;
//         margin: 0 auto;
//     }
// }



// .modal-overlay--visible {
//     opacity: 1;
//     visibility: visible;
//     // transition: opacity 0.3s ease-in-out;
// }

// .modal--visible {
//     display: block;
// }

// @keyframes inpopap {
//     from {
//         width: 0;
//     }

//     to {
//         width: 100%;
//     }
// }