.my-number {
    padding: 0;
    min-width: 150px;
    max-width: 155px;
    height: 57px;
    position: relative;

    &>* {
        padding: 0;
        margin: 0;
        border: 2px solid #a3bbc8;
        background-color: transparent;
        width: 31%;
        height: 100%;
    }


    &__button {
        cursor: pointer;
    }

    &__minus {}

    &__input {
        text-align: center;
        margin-left: -6px;
        outline: none;
    }

    &_plus {
        margin-left: -6px;
    }

}