.pagination {
    grid-area: pagination;
    display: flex;
    justify-content: center;
    padding: 30px 0;

    &__list {
        display: flex;
        gap: 15px;
    }

    &__item {
        border: 1px solid $accent;
        transition: background-color .3s;
        min-width: 50px;
        height: 56px;

        &:hover {
            background-color: $accent;
        }

        &:focus {
            outline: 0;
            background-color: $accent;
        }
    }

    &__item-active {
        background-color: $accent;
    }

    &__link,
    &__prev,
    &__next,
    {
    @extend %rubik-400;
    font-size: 16px;
    color: $darkBlue;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 56px;
}
}