@import 'reset';
@import 'vars';
@import 'fonts';
@import 'libs';
@import 'global';
.hidden {
    display: none;
}
.header{
    padding: 40px 0;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: conter;
    }
}

.menu{
    display: flex;
    align-items: center;
    &__list{
        display: flex;
        
    }
    
    &__list-item + .menu__list-item{
        padding-left: 35px
    
    }

    &__list-link{
        color: $title;
        padding-bottom: 1px;
        transition: all .3s;
        @extend %rubik-500;
        white-space: nowrap;
    &:hover{
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %rubik-400;
        }
    }
      
}

.user-nav{
    display: flex;
    flex-basis: 320px;
    justify-content: space-between;
    &__inner{
        position: relative;
        background-color: $default;
        height: 50px;
        width: 177px;
        border-radius: 30px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &-link{
            position: relative;
        }
        .user-nav__link-img{
            position: static;
        }  
  }
  &__inner::before{
    content: '';
    position: absolute;
    width: 1px;
    height: 32px;
    background-color: $line;
    top: 23%;
    left: 50%;
  }

   &__link{
   position: relative;
   } 

   &__link--search{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $search;
    border-radius: 50%;
   }
   &__link--user{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $user;
    border-radius: 50%;
   }
   &__link-img{
    position: absolute;
    top: 19px;
    left: 18px;

   }
   &__link-img--user{
    position: absolute;
    top: 16px;
    left: 15px;
   }
   &__num{
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #fff;
    top: -8px;
    right:-10px;
    font-size: 11px;
    text-align: center;
    line-height: 17px;
   }

}

.footer{
    background-color: #fff;
.footer-top{
        padding: 70px 0 40px;
        border-bottom: 1px solid #dae4e9;
        display: flex;
        color: $footer;
        gap: 130px;
        @extend %rubik-400;
        &__item{
            .logo{
                margin-bottom: 30px;
                display: block;
            }
        }
        a{
            color: inherit;
        }
        &__contact{
            width: 216px;
            margin-top: -20px;
        }  
        &__nav{
            width: 150px;
        }
        &__item-form{
            max-width: 270px;
        }
        &__address,
        &__phone,
        &__email{
            margin-bottom: 25px;
            display: block;
        }
        &__address::before{
            content: 'address:';
            text-transform: uppercase;
        }
        &__phone::before{
            content: 'telephone:';
            text-transform: uppercase;
        }
        &__email::before{
            content: 'email:';
            text-transform: uppercase;
        }
        &__title{
            color: #1f2044;
            text-transform: uppercase;
            @extend %dmsans-700;
            font-size: 16px;
            line-height: 1;
            margin-bottom: 30px;
        }
        &__link{
            margin-bottom: 20px;
            display: block;
        }
        &__text{
            margin-bottom: 38px;
        }
        &__form-input{
            background-color: #fef7f0;
            max-width: 170px;
            width: 100%;
            border: none;
            padding: 12px 10px 12px 15px;
            &::placeholder{
                color: #234969;
                font-size: 12px;
            }
        }
        &__form-btn{
           @extend %btn;
           padding: 12px 14px;
        }
    }
    .footer-buttom{
        height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
        color: $footer;
        &__page{
            display: flex;
             gap: 20px;
               span{
                width: 1px;
                    height: 12px;
                background-color: $footer;
                display: inline-block;
            }
        }
        
            // position: relative;
         
        
        // &__page-list:not(:last-child):before{
        //     content: '';
        //     position: absolute;
        //     width: 1px;
        //     height: 12px;
        //     background-color: $footer;
        //     left: 10px;
        // }
      

        &__page-link{
            color: $footer;
        }
       
    }
}

.top-slider{
    &__inner{
         height: 818px;
        background-color: $default;
        background-image: url('../images/slider/fon1.png');
        background-repeat: no-repeat;
        background-size: cover;
        padding: 65px 0 45px;
    }
    &__content{
        padding-top: 135px;
        padding-left: 305px;
        padding-bottom: 150px;
    }
    &__item{
        display: flex !important;
        justify-content: space-between;
    }
    &__title{
        min-width: 410px;
        color: #243f4d;
        font-size: 72px;
        line-height: 1.2;
        @extend %rubik-500;
        margin-bottom: 46px;
    }
    &__text{
        max-width: 360px;
        margin-bottom: 43px;
    }
    &__link{
        @extend %btn;
        display: inline-block;
        line-height: 60px;
        width: 200px;
        height: 60px;
        padding-left: 25px;
        justify-content: center;
        position: relative;
        margin-left: 0;
    }
    &__arrow{
        position: absolute;
        right: 36px;
        top: 24px;
    }
    &__img{
        width: 636px;
        height: 262px;
        margin-top: 200px;
        margin-right: 200px;
    }

    .slick-dots{
        display: flex;
        justify-content: center;
        margin-top: -45px;
        li{
            margin: 0 5px;
            line-height: 0;
            button{
                border-radius: 50%;
                background-color: #fde3cc;
                font-size: 11px;
                width: 26px;
                height: 26px;
                border: none;
                color: #667983;
                
            }
            &.slick-active{
                button{
                    color: #243f4d;
                    background-color: #fff;
                }
            }
        }
        
    }
}












@import 'media';
  