@import "reset";
@import "vars";
@import "fonts";
@import "libs";
@import "global";

@import "header";
@import "top";
@import "burger";
@import "top-slider";
@import "categories";
@import "blurb";
@import "design";
@import "blog";
@import "about";
@import "mold";
@import "statistics";
@import "ourteam";
@import "terms";
@import "info";
@import "shop";
@import "filter";
@import "comments";
@import "comments-form";
@import "related";
@import "blog-page";
@import "recent-posts";
@import "blog-one";
@import "contact-form";
@import "contact";
@import "product-page";
@import "footer";